.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px; /* Ajoutez un peu de rembourrage pour l'espace autour du texte */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Ajoute une ombre douce */
  background-color: white; /* Assurez-vous que l'arrière-plan est blanc ou de la couleur souhaitée */
}
h1 {
  font-size: 40px;
}

.link {
  display: flex;
  align-items: center;
  gap: 60px;
  font-weight: bold;
  font-size: 20px;
  

  :hover {
    color: violet;
  }
  a {
    text-decoration: none;
    color: black;
  }
}
